body {
    font-family: monospace;
    background-color: #ffffff;
    color: #1e1e1e;
}

header {
    display: flex;
    height: 3vh;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

p {
    margin: 0 0 3px 0;
}

#log-container {
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid #333;
    padding: 10px;
    height: 92vh;
    overflow-y: scroll;
}

.error {
    color: red;
}