body {
    font-family: monospace;
    background-color: #ffffff;
    color: #1e1e1e;
}

p {
    margin: 0 0 3px 0;
}

#log-container {
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid #333;
    padding: 10px;
    height: 80vh;
    overflow-y: scroll;
}

.error {
    color: red;
}